<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Height: <%= @pirate.height %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>

<% @ships.each do |ship| %>
<p>Ship Name: <%= ship.name%></p>
<p>Ship Type: <%= ship.type%></p>
<p>Ship Booty: <%= ship.booty%></p>
<% end %>

